---
import { Icon } from "astro-icon/components"
import { openMenuId, closeMenuId, mobileMenuContentId } from "./menu-ids"
---

<button aria-label="Open menu" id={openMenuId}>
    <Icon name="menu" size={30} />
</button>

<button class="hidden" aria-label="Open menu" id={closeMenuId}>
    <Icon name="close" size={30} />
</button>

<script is:inline define:vars={{ openMenuId, closeMenuId, mobileMenuContentId }}>
    function init() {
        const openBtn = document.getElementById(openMenuId)
        const closeBtn = document.getElementById(closeMenuId)
        const menu = document.getElementById(mobileMenuContentId)
        openBtn?.addEventListener("click", () => {
            openBtn?.classList.toggle("hidden")
            closeBtn?.classList.toggle("hidden")
            menu?.classList.toggle("active")
        })
        closeBtn?.addEventListener("click", () => {
            closeBtn?.classList.toggle("hidden")
            openBtn?.classList.toggle("hidden")
            menu?.classList.toggle("active")
        })
    }
    // NOTE: needed when View Transition is enabled, otherwise it will attach event listeners once and not when changing route
    document.addEventListener("astro:page-load", init)
</script>
