---
import type { HTMLAttributes } from "astro/types"

type Props = HTMLAttributes<"a">

const props = Astro.props

const href = props.href?.toString() || ""

const isInternalLink = href.startsWith("/") || href.startsWith("#")
const [target, rel] = isInternalLink ? [] : ["_blank", "noopener noreferrer"]
---

<a {...props} target={target} rel={rel}><slot /></a>
