:root {
    --code-bg-color: 22, 27, 34;
    --line-highlighted-color: 255, 255, 255;
}

/* Code block wrapper */
figure[data-rehype-pretty-code-figure] {
    overflow: hidden;

    background-color: rgb(var(--code-bg-color));
    margin: 1rem 0;
    border-radius: 0.25rem;
}

figure[data-rehype-pretty-code-figure] pre {
    /* Enable horizontal scrolling for long lines of code */
    overflow-x: auto;

    padding: 0.5rem 0.25rem;
    line-height: 1.5rem;
}

/* Ensures spans fill the full width of a horizontally-scrollable code block */
figure[data-rehype-pretty-code-figure] code {
    display: grid;
    @apply text-sm;
}

/* Title */
figcaption[data-rehype-pretty-code-title] {
    margin-bottom: 0.125rem;
    @apply bg-grayRock;
    padding: 0.25rem 0.75rem;
    line-height: 1rem;
}

/* Line highlighted  */
figure[data-rehype-pretty-code-figure] [data-line] {
    /* Create left border for each line so that the highlighted line are more clear and line numbers are always aligned */
    border-left-width: 2px;
    border-left-color: transparent;
}

figure[data-rehype-pretty-code-figure] [data-highlighted-line] {
    border-left-color: rgba(var(--line-highlighted-color), 0.7);
    background-color: rgba(var(--line-highlighted-color), 0.1);
}

/* Word highlighted */
figure[data-rehype-pretty-code-figure] [data-line]:has([data-highlighted-chars]) {
    /* Extra space needed when highlighted words are in consecutive lines */
    padding-bottom: 0.1rem;
}

figure[data-rehype-pretty-code-figure] [data-highlighted-chars] {
    background-color: rgb(0 103 163 / 56%);
    color: inherit;
    padding: 0.1rem;
    border-radius: 0.25rem;
}

/* Line numbers */
figure[data-rehype-pretty-code-figure] code[data-line-numbers] {
    counter-reset: lineNumber;
}

figure[data-rehype-pretty-code-figure] code[data-line-numbers] > [data-line]::before {
    counter-increment: lineNumber;
    content: counter(lineNumber);
    display: inline-block;
    text-align: right;

    margin-right: 0.5rem;
    margin-left: 0.25rem;
    width: 1rem;
    color: #6e7681;
}

/* Group highlighted chars by id */
figure[data-rehype-pretty-code-figure] [data-chars-id="purple"] {
    @apply bg-purple-800/50;
}

figure[data-rehype-pretty-code-figure] [data-chars-id="yellow"] {
    @apply bg-yellow-600/50;
}

figure[data-rehype-pretty-code-figure] [data-chars-id="green"] {
    @apply bg-green-600/60;
}

figure[data-rehype-pretty-code-figure] [data-chars-id="red"] {
    @apply bg-red-700/80;
}

figure[data-rehype-pretty-code-figure] [data-chars-id="error"] {
    @apply bg-inherit underline decoration-wavy decoration-red-600;
}

/* Inline code (e.g `this is inline code`) */
span[data-rehype-pretty-code-figure] code {
    padding: 0.1rem;
    @apply bg-grayRock;
    border-radius: 0.25rem;
}
