---
import Link from "@components/Link.astro"
import Document from "@layouts/Document.astro"
---

<Document
    metadata={{
        title: "404 - Page not found",
        description:
            "It seems you've found something that used to exist, or you spelled something wrong. Can you check the URL?",
    }}
>
    <h1 class="text-3xl md:text-5xl font-bold text-center">404 - Page not found</h1>
    <p class="text-center">
        It seems you&apos;ve found something that used to exist, or you spelled something wrong. Can
        you check the URL?
    </p>
    <Link href="/" class="p-4 rounded-md bg-blackSand-700 mx-auto">Return Home</Link>
</Document>
