---
import Document from "@layouts/Document.astro"
import { Icon } from "astro-icon/components"
import { first3, publishedPosts } from "@shared/blog"
import PostCard from "@components/blog/PostCard.astro"
import Link from "@components/Link.astro"

const posts = await publishedPosts()
---

<Document
    metadata={{
        title: "Cosimo Matteini",
        showFullTitle: false,
        description: "Software developer. Experiments, automates, and builds things for fun.",
    }}
>
    <div class="text-center md:text-left">
        <h2 class="my-0 text-2xl">
            Software developer. Experiments, automates, and builds things for fun.
        </h2>
    </div>
    <h3 class="mt-8">Recent posts</h3>
    {first3(posts).map((post) => <PostCard post={post.data} />)}
    <h3>
        <Link href="/blog" class="flex items-center">
            All posts
            <Icon name="box-arrow-in-right" class="ml-2" />
        </Link>
    </h3>
</Document>
