---
import ExternalLink from "@components/ExternalLink.astro"
import Document from "@layouts/Document.astro"
---

<Document
    metadata={{
        title: "Privacy",
        description: "Privacy",
    }}
>
    <h1 class="font-bold mb-5">Privacy</h1>
    <h2 class="text-2xl">Your privacy is important to me, as is mine.</h2>
    <p>
        This website uses
        <ExternalLink variant="underline" href="https://vercel.com/docs/concepts/analytics">
            Vercel Analytics
        </ExternalLink>
        (that complies with GDPR) to collect Web Vitals metrics and Analytics statistics.
    </p>
    <p>
        Here you can find which anonymous data is collected by vercel:
        <br />
        <ExternalLink variant="underline" href="https://vercel.com/docs/concepts/analytics/privacy">
            https://vercel.com/docs/concepts/analytics/privacy
        </ExternalLink>
    </p>
    <p>
        This website is open source, so you can inspect the GitHub repository
        <ExternalLink variant="underline" href="https://github.com/devmatteini/website">
            devmatteini/website
        </ExternalLink>
    </p>
</Document>
