---
import { Icon } from "astro-icon/components"
import { cn } from "@shared/cn"
import { match } from "ts-pattern"

type Props = {
    variant: "info" | "warning"
}

const { variant } = Astro.props
---

<div
    class={cn("p-4 mb-4 border rounded flex", {
        "bg-blue-900/25 text-blue-200 border-blue-200/50": variant === "info",
        "bg-orange-400/20 text-orange-300 border-orange-300/50": variant === "warning",
    })}
>
    <div class="text-base mr-4">
        {
            match(variant)
                .with("info", () => <Icon name="info-circle-fill" />)
                .with("warning", () => <Icon name="warning-fill" />)
                .exhaustive()
        }
    </div>
    <div class="w-full min-w-0 text-sm">{(<slot />)}</div>
</div>
