---
import { cn } from "@shared/cn"
import type { HTMLAttributes } from "astro/types"
import { type Variant, linkStyles } from "./link-styles"

type Props = HTMLAttributes<"a"> & { variant?: Variant }

const { variant = "default", class: className, ...rest } = Astro.props

const styles = linkStyles(variant)
---

<a class={cn(className, styles)} {...rest}>
    <slot />
</a>
