---
import { cn } from "@shared/cn"
import type { HTMLAttributes } from "astro/types"

export type Variant = "default" | "underline"
type Props = HTMLAttributes<"a"> & { variant?: Variant }

const stylesByVariant: Record<Variant, string> = {
    default: "",
    underline: "underline underline-offset-4 decoration-2 decoration-volcanoOrange",
}

const { variant = "default", class: className, ...rest } = Astro.props
---

<a class={cn(className, stylesByVariant[variant], "hover:text-volcanoOrange")} {...rest}>
    <slot />
</a>
