---
import Link from "./Link.astro"
import Container from "./Container.astro"
import Menu from "./menu/Menu.astro"
import MobileMenu from "./menu/MobileMenu.astro"
---

<nav class="mt-8">
    <Container>
        <div class="flex items-center justify-between mb-4">
            <h1 class={"my-0 font-bold text-xl"}>
                <Link href="/" class={"flex items-center"}>
                    <img
                        class={"rounded-full mr-3 w-12 h-12"}
                        src="/profile.webp"
                        alt=""
                        width="80"
                        height="80"
                    />
                    Cosimo Matteini
                </Link>
            </h1>

            <div class="md:hidden">
                <MobileMenu />
            </div>
            <div class="hidden md:block">
                <Menu variant="desktop" />
            </div>
        </div>
        <div class="md:hidden">
            <Menu variant="mobile" />
        </div>
    </Container>
</nav>
