---
import { linkStyles } from "@components/link-styles"
import { cn } from "@shared/cn"
import type { HTMLAttributes } from "astro/types"

type Props = HTMLAttributes<"a">

const { class: className, ...props } = Astro.props

const href = props.href?.toString() || ""

const isInternalLink = href.startsWith("/") || href.startsWith("#")
const [target, rel] = isInternalLink ? [] : ["_blank", "noopener noreferrer"]
---

<a {...props} class={cn(linkStyles("underline"), className)} target={target} rel={rel}><slot /></a>
