---
import Link from "@components/Link.astro"
import type { Post } from "@shared/posts"

type Props = {
    previous: Post["data"] | undefined
    next: Post["data"] | undefined
}
const { previous, next } = Astro.props
---

<div class="flex gap-2 items-center">
    {(previous || next) && <>&#8227;</>}
    {previous && <Link href={previous.url}>cd previous</Link>}
    {previous && next && <span>&#47;</span>}
    {next && <Link href={next.url}>cd next</Link>}
</div>
