---
import type { Post } from "@shared/posts"

type Props = { tags: Post["data"]["tags"] }

const { tags } = Astro.props
---

{
    tags.length > 0 && (
        <div class="flex gap-2 items-center">
            {tags.map((x) => (
                <span class="text-sm py-1 px-2 rounded-md bg-darkBlue">{x}</span>
            ))}
        </div>
    )
}
