---
import type { Post } from "@shared/blog"
import { tagUrl } from "@shared/tags"
import Link from "@components/Link.astro"

type Props = { tags: Post["data"]["tags"] }

const { tags } = Astro.props
---

{
    tags.length > 0 && (
        <div class="flex gap-2 items-center">
            {tags.map((x) => (
                <Link class="text-sm font-bold" href={tagUrl(x)}>
                    #{x}
                </Link>
            ))}
        </div>
    )
}
